__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
.ipynb_checkpoints/
.DS_Store
*:Zone.Identifier
context/__pycache__/
features/
results/*
!results/figs/
results/figs/*
!results/figs/combined*
context.sif
scripts/__pycache__/
